[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "blob"]
	path = blob
	url = https://github.com/tidyverse/blob
	shallow = true
[submodule "dbplyr"]
	path = dbplyr
	url = https://github.com/tidyverse/dbplyr
	shallow = true
[submodule "dplyr"]
	path = dplyr
	url = https://github.com/tidyverse/dplyr
	shallow = true
[submodule "dtplyr"]
	path = dtplyr
	url = https://github.com/tidyverse/dtplyr
	shallow = true
[submodule "forcats"]
	path = forcats
	url = https://github.com/tidyverse/forcats
	shallow = true
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	shallow = true
[submodule "glue"]
	path = glue
	url = https://github.com/tidyverse/glue
	shallow = true
[submodule "googledrive"]
	path = googledrive
	url = https://github.com/tidyverse/googledrive
	shallow = true
[submodule "googlesheets4"]
	path = googlesheets4
	url = https://github.com/tidyverse/googlesheets4
	shallow = true
[submodule "haven"]
	path = haven
	url = https://github.com/tidyverse/haven
	shallow = true
[submodule "hms"]
	path = hms
	url = https://github.com/tidyverse/hms
	shallow = true
[submodule "lubridate"]
	path = lubridate
	url = https://github.com/tidyverse/lubridate
	shallow = true
[submodule "magrittr"]
	path = magrittr
	url = https://github.com/tidyverse/magrittr
	shallow = true
[submodule "modelr"]
	path = modelr
	url = https://github.com/tidyverse/modelr
	shallow = true
[submodule "multidplyr"]
	path = multidplyr
	url = https://github.com/tidyverse/multidplyr
	shallow = true
[submodule "purrr"]
	path = purrr
	url = https://github.com/tidyverse/purrr
	shallow = true
[submodule "readr"]
	path = readr
	url = https://github.com/tidyverse/readr
	shallow = true
[submodule "readxl"]
	path = readxl
	url = https://github.com/tidyverse/readxl
	shallow = true
[submodule "reprex"]
	path = reprex
	url = https://github.com/tidyverse/reprex
	shallow = true
[submodule "rvest"]
	path = rvest
	url = https://github.com/tidyverse/rvest
	shallow = true
[submodule "stringr"]
	path = stringr
	url = https://github.com/tidyverse/stringr
	shallow = true
[submodule "tibble"]
	path = tibble
	url = https://github.com/tidyverse/tibble
	shallow = true
[submodule "tidyr"]
	path = tidyr
	url = https://github.com/tidyverse/tidyr
	shallow = true
[submodule "tidyverse"]
	path = tidyverse
	url = https://github.com/tidyverse/tidyverse
	shallow = true
[submodule "gargle"]
	path = gargle
	url = https://github.com/r-lib/gargle
	shallow = true
	branch = retry
